[Bb]in
[Oo]bj
[Ll]og
[Tt]est_
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar.gz
*.swp
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.DS_Store
*/.DS_Store
Test_GB28181SIPGate
SimpleSIPServer

